/* Mobile */
@media (max-width: 450px) {
    *{
        font-size: small;
    }
    /*Event Form */
    .btn {
        opacity: 1;
    }
    #titlemin{
     text-align: left;
     word-break: normal;
    }
    #event-description {
        padding: 5em;
        flex-direction: column;
        height: auto;
    }
    .about-event{
        width: 350px;
    }

    #disclaimer {
        padding: 2em;
        
    }

    #disclaimer h2 {
        margin-bottom: .5em;
    }

    #subcription-form {
        max-width: 70%;
        margin-bottom: 2em;
    }

    /*benefits section*/

    .benefits {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;
    }

    .benefit {
        max-width: 100%;
        margin-bottom: 2em;
    }

    /*event location*/

    #Location {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 2em 0;
    }

    #addres {
        order: 2;
        flex-direction: column;
        max-width: 100%;
    }

    #addres i {
        /* margin: .3em 0; */
    }
    #key-benefits{
        overflow-x: hidden;
    }
    #about-location {
        order: 1;
        max-width: 100%;
    }

    #abaout-location h3 {
        margin-bottom: 0;
    }

    #abaout-location p {
        display: none;
    }

    /*event details container */

    .detail {
        flex-direction: column;
        margin-bottom: .5em;
        gap: 0;
    }

    .detail img {
        width: 100%;
        margin: 2em 0;
    }

    #detail-1 img {
        display: none;
    }

    .detail-description {
        padding: 0;
        
        word-break: normal;
        text-align: left;
    }


    #detail-3 img {
        order: 2;
    }

    #detail-3 .detail-description {
        order: 1;
    }

    /*call to Action Section*/

    #cta {
        text-align: center;
    }
    #cta h3{
        margin-top: 3%;
        font-weight: bolder;
    }

    #cta .btn {
        width: 80%;
    }

    #video{
        left: 0;
        width: 100%;
    }
    #containerVideo{
        left: 0;
    }
    #nav{
       
        height: 10%;
        width: 100%;
    }
    #logo{
        width: 80px;
        height: 100px;
        margin-top: 8%;
    }
    #avion{
        margin-top: 110px;
    }

    #whatsapp{
        right: 0;
    }
    #apoyo{
        right: 0;
    }


    #one {
        filter: blur(0px);
        transition: filter 0.3s ease;
    }
    
    #one:hover {
        -webkit-animation: jello-vertical 0.9s both;
	        animation: jello-vertical 0.9s both;
            
    }
    
    #two {
        filter: blur(0px);
        transition: filter 0.3s ease;
    }
    
    #two:hover {
        -webkit-animation: jello-vertical 0.9s both;
        animation: jello-vertical 0.9s both;
    
    }


    #three {
        filter: blur(0px);
        transition: filter 0.3s ease;
    }
    #three:hover {
        -webkit-animation: jello-vertical 0.9s both;
        animation: jello-vertical 0.9s both;
    }

    @-webkit-keyframes jello-vertical {
        0% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
        30% {
          -webkit-transform: scale3d(0.75, 1.25, 1);
                  transform: scale3d(0.75, 1.25, 1);
        }
        40% {
          -webkit-transform: scale3d(1.25, 0.75, 1);
                  transform: scale3d(1.25, 0.75, 1);
        }
        50% {
          -webkit-transform: scale3d(0.85, 1.15, 1);
                  transform: scale3d(0.85, 1.15, 1);
        }
        65% {
          -webkit-transform: scale3d(1.05, 0.95, 1);
                  transform: scale3d(1.05, 0.95, 1);
        }
        75% {
          -webkit-transform: scale3d(0.95, 1.05, 1);
                  transform: scale3d(0.95, 1.05, 1);
        }
        100% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
                  
        }
      }
      @keyframes jello-vertical {
        0% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
        30% {
          -webkit-transform: scale3d(0.75, 1.25, 1);
                  transform: scale3d(0.75, 1.25, 1);
        }
        40% {
          -webkit-transform: scale3d(1.25, 0.75, 1);
                  transform: scale3d(1.25, 0.75, 1);
        }
        50% {
          -webkit-transform: scale3d(0.85, 1.15, 1);
                  transform: scale3d(0.85, 1.15, 1);
        }
        65% {
          -webkit-transform: scale3d(1.05, 0.95, 1);
                  transform: scale3d(1.05, 0.95, 1);
        }
        75% {
          -webkit-transform: scale3d(0.95, 1.05, 1);
                  transform: scale3d(0.95, 1.05, 1);
        }
        100% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
      }

}